@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");


body
{
    font-family: "Raleway", "Sans-serif";
}

section
{
    max-width: 1440px;
    margin:auto;
}

/* HEADER */

 header
 {
    max-width: 1440px;
    margin:auto;
 }  

.logo_reservia   /* Dimension et placement logo (logo_reservia) */
{
    max-width: 10%;
    max-height: 10%;
    margin-left: 30px;
}

.navigation
{
    max-width: 400px;
    display: flex;
    float: right;
}

ul         /* Config barre de navigation */
{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    list-style-type: none;   
}

li a
{
    display: flex;
    color: grey;
    text-decoration: none;
    padding: 8px 30px 8px 8px;
}

li a:hover
{  
    color:  #0065FC;
}




/* config barre de recherche */

.button
{
    background-color: #0065FC;
    border: none;
    font-size: 15px;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Config Filtres */

.filtres
{
    display: flex;
    flex-direction: row;
    color: black;
    padding: 10px 30px 10px 10px;
}



/* Bloc hebergements */ 
.hbg
{
    background-color: #f2f2f2;
    max-width: 50%;
    max-height: 60%;
    margin-left: 30px;
}

.picture
{
    display: flex;
    
}

/* bloc activités */

.activite
{
    background-color: #f2f2f2;
}
/* bloc populaires */



/* FOOTER */
.footer
{
    background-color: #f2f2f2;
}

.footer-petit
{
    max-width: 1440px;
    margin:auto;
    display: flex;
    justify-content: space-around;
}
.blue
{
    color: black;
}




    
