 @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");


 body
 {
     font-family: "Raleway", "Sans-serif";

 }

 header{

    max-width: 1440px;
    align-items: center;
    display: flex;
 }  




.logo_reservia   /* Dimension et placement logo (logo_reservia) */
{
    max-width: 10%;
    max-height: 10%;
    margin-left: 30px;
}

ul         /* Config barre de navigation */
{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    list-style-type: none;
    
}

li a
{
    display: flex;
    color: grey;
    text-decoration: none;
    padding: 8px 30px 8px 8px;

}
li a:hover
{
    
    color:  #0065FC;
}

.navigation
 {
     max-width: 400px;
     display: flex;
     float: right;
 }


/* config barre de recherche */

.button
{
    background-color: #0065FC;
    border: none;
    font-size: 15px;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Config Filtres */

.filtres
{
    display: flex;
    flex-direction: row;
    color: black;
    padding: 10px 30px 10px 10px;
}

/* bloc activités */

.activite
{
    background-color: #f2f2f2;
}

/* Bloc hebergements */ 

/* bloc populaires */



/* pied de page */
.footer
{
    display: flex;
    flex-direction: row;
    align-items: ;
    background-color: #f2f2f2;
}




    
